.FullContainer {
  margin: 0 10% 30px;
}

.imgCard {
  padding: 15px;
}

.titleCard {
  font-size: 1rem;
}
.descripyionCard {
  font-size: 14px;
}
.dlockCard {
  margin-bottom: 0px !important;
}
.iconCalc {
  font-size: 3em !important;
}
